.leftSidePannel {
  background: #fff;
  width: 23vw;
  height: 94vh;
  display: flex;
  flex-direction: column;
  padding: 1.5% 1.5% 1.5% 1.5%;

  overflow-y: scroll;
}

.createNotesGroup {
  border-radius: 3.125rem;
  background: #000;

  width: 21vw;
  padding: 4.5% 4.5% 4.5% 4.5%;

  /* ?text */
  color: #fff;
  font-family: Roboto;
  font-size: 1.6875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 97.688%; /* 1.6485rem */
  letter-spacing: 0.03375rem;
}

@media (max-width: 600px) {
  .leftSidePannel {
    width: 100vw;
  }

  .createNotesGroup {
    border-radius: 3.125rem;
    background: #000;

    width: 86vw;
    padding: 4.5% 4.5% 4.5% 4.5%;

    /* ?text */
    color: #fff;
    font-family: Roboto;
    font-size: 1.6875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 97.688%; /* 1.6485rem */
    letter-spacing: 0.03375rem;
  }
}

.center {
  /* center */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.notesGroupSlected:active {

    padding: 5% 3% 3% 3%;
  
    width: 100%;
  height: 2.375rem;
}


.notesGroupSlected:active {
  border-radius: 2rem 0rem 0rem 2rem;
  background: #f7ecdc;
  padding: 5% 3% 3% 3%;

  width: 25.6875rem;
height: 2.375rem;
flex-shrink: 0;

/* ?center */
display: flex;
justify-content: center;
align-items: center;
}
