.NotesGroupHeading {
  background: #e8e8e8;
  width: 77vw;
  height: 77px;
}

.NotesContent {
  border-radius: 0rem 0rem 0rem 0.9375rem;
  background: #f7ecdc;
  width: 77vw;
  height: 70vh;
}

.NotesEnter {
  background-color: #e8e8e8;
  height: 20vh;

  /* center */
  display: flex;
  justify-content: center;
  align-items: center;
}

.NotesInput {
  color: #9a9a9a;
  font-family: Roboto;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.03725rem;

  max-width: 73vw;
  max-height: 16vh;

  min-width: 73vw;
  min-height: 16vh;
}

.NotesInput::placeholder{
    position: absolute;
    top: 0px;
}

.NotesInputButton{
  background-color: transparent;
  border: 0px solid transparent;
  position: absolute;
  right: 3%;
  bottom: 3%;
}